* {
    font-size: 30px;
}

.app-container {
    background-color: #bee3ff;
    min-height: 100vh;
}

.list-container {
    width: 30%;
    background-color: #F5674F;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.30);
    margin: 50px 0;
}

.input-container input,
.input-container svg {
    border: none;
    background: #fbc1bb;
    border-radius: 3px;
    color: #ec645b;
}

.input-container input {
    outline: 0;
    width: 100%;
    border-radius: 3px 0 0 3px;
}

.input-container svg {
    border-radius: 0px 3px 3px 0px;
    min-height: 100%;
    cursor: pointer;
}

.item {
    border-bottom: 2px solid #ff877a;
}

.item button {
    width: 50px;
    background-color: white;
    border-style: none;
    border-radius: 10px;
}

.button-item svg {
    height: 15px;
    background-color: white;
    color: #F5674F;
    border-radius: 24px;
    padding: 6px;
    width: 22%;
    cursor: pointer;
}

.cout-item button {
    border-radius: 25px;
    width: 90px;
}

.name{
    width: 50%;
}

.name svg{
    cursor:pointer;
}

@media (max-width: 576px) { 
    *{
        font-size: 8px;
    }
    .app-container{
        background-color: #F5674F;
    }
}

@media (min-width: 576px) { 
    *{
        font-size: 10px;
    }
    .app-container{
        background-color: blue;
    }
}

@media (min-width: 768px) { 
    *{
        font-size: 10px;
    }
    .app-container{
        background-color: red;
    }
}

@media (min-width: 992px) { 
    * {
        font-size: 14px;
    }
    .app-container{
        background-color: yellow;
    }
}

@media (min-width: 1200px) { 
    *{
        font-size: 20px;
    }
    .app-container{
        background-color: green;
    }
}

@media (min-width: 1400px) { 
    *{
        font-size: 30px;
    }
    .app-container{
        background-color: black;
    }
}